@charset "UTF-8";
/* CSS Document */
body{
    background-color:#CCC;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 60px;
}


p{
    color:green;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size:40px;
}

#password{
    font-size:18px;
    color:red;
}